#Data Cleaning and Preparation
Data Cleaning and Preparation is a crucial initial step in any data analysis workflow. It involves transforming raw data into a clean, usable format suitable for analysis and modeling. This process typically includes:
* **Handling Missing Values**: Deciding whether to impute,
remove, or flag missing data points.
* **Correcting Errors**: Identifying and fixing inaccuracies, inconsistencies, or outliers in the data.
* **Converting Data Types**: Ensuring that each variable is stored in the correct data type (e.g., converting strings to numbers, or objects to datetime objects).
* **Standardizing and Normalizing**: Scaling numerical features to a standard range or distribution, which is often important for machine learning algorithms.
* **Feature Engineering**: Creating new features from existing ones to improve model performance or gain new insights.

Effective data preparation ensures that subsequent analysis yields accurate, reliable, and meaningful results, preventing the 'garbage in, garbage out' problem.

## Handling missing data

In [4]:
import pandas as pd
import numpy as np
# Create a sample Serie with some missing values
float_data = pd.Series([1.2, -3.5, np.nan, 7.1, -4.5])
print("Serie indicating missing values (True where NaN, False otherwise):")
print(float_data.isna())

# Create a sample DataFrame with some missing values
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, np.nan],
    'C': ['apple', 'banana', 'orange', np.nan, 'grape']
}
df = pd.DataFrame(data)

print("\nOriginal DataFrame:")
print(df)
print("\nDataFrame indicating missing values (True where NaN, False otherwise):")
print(df.isna())

print("\nSum of missing values per column:")
print(df.isna().sum())

print("\nTotal number of missing values in the DataFrame:")
print(df.isna().sum().sum())

Serie indicating missing values (True where NaN, False otherwise):
0    False
1    False
2     True
3    False
4    False
dtype: bool

Original DataFrame:
     A    B       C
0  1.0  NaN   apple
1  2.0  2.0  banana
2  NaN  3.0  orange
3  4.0  4.0     NaN
4  5.0  NaN   grape

DataFrame indicating missing values (True where NaN, False otherwise):
       A      B      C
0  False   True  False
1  False  False  False
2   True  False  False
3  False  False   True
4  False   True  False

Sum of missing values per column:
A    1
B    2
C    1
dtype: int64

Total number of missing values in the DataFrame:
4

### Filtering out missing data

In [5]:
# Dropna for Series
print("Original Series:\n", float_data)
print("\nSeries after dropping NaN values:\n", float_data.dropna())

# Dropna for DataFrame
print("\nOriginal DataFrame:\n", df)

print("\nDataFrame after dropping rows with ANY NaN values:\n", df.dropna())

print("\nDataFrame after dropping rows with ALL NaN values (no change if no rows are entirely NaN):\n", df.dropna(how='all'))

print("\nDataFrame after dropping rows if 'A' has a NaN value:\n", df.dropna(subset=['A']))

print("\nDataFrame after dropping rows keeping at least 2 non-NaN values:\n", df.dropna(thresh=2))

Original Series:
 0    1.2
1   -3.5
2    NaN
3    7.1
4   -4.5
dtype: float64

Series after dropping NaN values:
 0    1.2
1   -3.5
3    7.1
4   -4.5
dtype: float64

Original DataFrame:
      A    B       C
0  1.0  NaN   apple
1  2.0  2.0  banana
2  NaN  3.0  orange
3  4.0  4.0     NaN
4  5.0  NaN   grape

DataFrame after dropping rows with ANY NaN values:
      A    B       C
1  2.0  2.0  banana

DataFrame after dropping rows with ALL NaN values (no change if no rows are entirely NaN):
      A    B       C
0  1.0  NaN   apple
1  2.0  2.0  banana
2  NaN  3.0  orange
3  4.0  4.0     NaN
4  5.0  NaN   grape

DataFrame after dropping rows if 'A' has a NaN value:
      A    B       C
0  1.0  NaN   apple
1  2.0  2.0  banana
3  4.0  4.0     NaN
4  5.0  NaN   grape

DataFrame after dropping rows keeping at least 2 non-NaN values:
      A    B       C
0  1.0  NaN   apple
1  2.0  2.0  banana
2  NaN  3.0  orange
3  4.0  4.0     NaN
4  5.0  NaN   grape

If you want to work in place, use:
`df.dropna(inplace=True)`

### Filling in missing data

In [11]:
# Fillna for Series
print("Original Series:\n", float_data)
print("\nSeries after filling NaN with 0:\n", float_data.fillna(0))

# Fillna for DataFrame
print("\nOriginal DataFrame:\n", df)

# Fill all NaN values with a single value
print("\nDataFrame after filling all NaN with 0:\n", df.fillna(0))

# Fill NaN values with a dictionary specifying different values for each column
print("\nDataFrame after filling NaN in 'A' with 0 and 'B' with 1:\n", df.fillna({'A': 0, 'B': 1}))

# Fill NaN values using forward fill (propagates last valid observation forward)
print("\nDataFrame after forward fill (ffill):\n", df.fillna(method='ffill'))

# Fill NaN values using backward fill (propagates next valid observation backward)
print("\nDataFrame after backward fill (bfill):\n", df.fillna(method='bfill'))

# Fill NaN values with the mean of the column
print("\nSeries after filling NaN with mean:\n", float_data.fillna(float_data.mean()))
print("\nDataFrame after filling NaN in 'A' with its mean:\n", df['A'].fillna(df['A'].mean()))
print("\nDataFrame after filling NaN in 'B' with its mean:\n", df['B'].fillna(df['B'].mean()))

Original Series:
 0    1.2
1   -3.5
2    NaN
3    7.1
4   -4.5
dtype: float64

Series after filling NaN with 0:
 0    1.2
1   -3.5
2    0.0
3    7.1
4   -4.5
dtype: float64

Original DataFrame:
      A    B       C
0  1.0  NaN   apple
1  2.0  2.0  banana
2  NaN  3.0  orange
3  4.0  4.0     NaN
4  5.0  NaN   grape

DataFrame after filling all NaN with 0:
      A    B       C
0  1.0  0.0   apple
1  2.0  2.0  banana
2  0.0  3.0  orange
3  4.0  4.0       0
4  5.0  0.0   grape

DataFrame after filling NaN in 'A' with 0 and 'B' with 1:
      A    B       C
0  1.0  1.0   apple
1  2.0  2.0  banana
2  0.0  3.0  orange
3  4.0  4.0     NaN
4  5.0  1.0   grape

DataFrame after forward fill (ffill):
      A    B       C
0  1.0  NaN   apple
1  2.0  2.0  banana
2  2.0  3.0  orange
3  4.0  4.0  orange
4  5.0  4.0   grape

DataFrame after backward fill (bfill):
      A    B       C
0  1.0  2.0   apple
1  2.0  2.0  banana
2  4.0  3.0  orange
3  4.0  4.0   grape
4  5.0  NaN   grape

Series after filling NaN with mean:
 0    1.200
1   -3.500
2    0.075
3    7.100
4   -4.500
dtype: float64

DataFrame after filling NaN in 'A' with its mean:
 0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
Name: A, dtype: float64

DataFrame after filling NaN in 'B' with its mean:
 0    3.0
1    2.0
2    3.0
3    4.0
4    3.0
Name: B, dtype: float64

/tmp/ipython-input-1540242534.py:15: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print("\nDataFrame after forward fill (ffill):\n", df.fillna(method='ffill'))
/tmp/ipython-input-1540242534.py:18: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print("\nDataFrame after backward fill (bfill):\n", df.fillna(method='bfill'))

## Data transformation

### Removing duplicates
The `duplicated()` method in Python, typically used with pandas Series and DataFrames, returns a boolean Series indicating whether each row or Series element is a duplicate of a previous row or element.

In [15]:
import pandas as pd

# Create a DataFrame with some duplicate rows
data_dup = {
    'col1': ['A', 'B', 'A', 'C', 'B','A'],
    'col2': [1, 2, 1, 3, 2, 1],
    'col3': ['X', 'Y', 'X', 'Z', 'W', 'X']
}
df_dup = pd.DataFrame(data_dup)

print("Original DataFrame with duplicates:")
print(df_dup)

# Identify duplicated rows
print("\nBoolean Series indicating duplicated rows (keeping first occurrence):")
print(df_dup.duplicated())

# Identify duplicated rows (keeping last occurrence)
print("\nBoolean Series indicating duplicated rows (keeping last occurrence):")
print(df_dup.duplicated(keep='last'))

Original DataFrame with duplicates:
  col1  col2 col3
0    A     1    X
1    B     2    Y
2    A     1    X
3    C     3    Z
4    B     2    W
5    A     1    X

Boolean Series indicating duplicated rows (keeping first occurrence):
0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

Boolean Series indicating duplicated rows (keeping last occurrence):
0     True
1    False
2     True
3    False
4    False
5    False
dtype: bool

Relatedly, `drop_duplicates` returns a DataFrame with rows where the `duplicated` array is `False` filtered out

In [16]:
print("Original DataFrame with duplicates:")
print(df_dup)

# Drop duplicated rows (keeping first occurrence by default)
print("\nDataFrame after dropping duplicated rows (keeping first):")
print(df_dup.drop_duplicates())

# Drop duplicated rows (keeping last occurrence)
print("\nDataFrame after dropping duplicated rows (keeping last):")
print(df_dup.drop_duplicates(keep='last'))

# Drop duplicated rows based on specific columns
print("\nDataFrame after dropping duplicated rows based on 'col1' and 'col2':")
print(df_dup.drop_duplicates(subset=['col1', 'col2']))

Original DataFrame with duplicates:
  col1  col2 col3
0    A     1    X
1    B     2    Y
2    A     1    X
3    C     3    Z
4    B     2    W
5    A     1    X

DataFrame after dropping duplicated rows (keeping first):
  col1  col2 col3
0    A     1    X
1    B     2    Y
3    C     3    Z
4    B     2    W

DataFrame after dropping duplicated rows (keeping last):
  col1  col2 col3
1    B     2    Y
3    C     3    Z
4    B     2    W
5    A     1    X

DataFrame after dropping duplicated rows based on 'col1' and 'col2':
  col1  col2 col3
0    A     1    X
1    B     2    Y
3    C     3    Z

### Transforming data using a function or mapping

In [17]:
import pandas as pd

# Create a sample Series with categorical data
data = pd.Series(['apple', 'orange', 'apple', 'grape', 'banana', 'orange'])
print("Original Series:")
print(data)

# Create a dictionary to map old values to new values
fruit_to_color = {
    'apple': 'red',
    'orange': 'orange',
    'banana': 'yellow',
    'grape': 'purple'
}

# Use the map function with the dictionary
# Values in 'data' that are not in the dictionary will become NaN
mapped_data = data.map(fruit_to_color)
print("\nSeries after mapping with a dictionary:")
print(mapped_data)

# Example with a DataFrame column
df_example = pd.DataFrame({
    'item': ['shirt', 'pants', 'shoes', 'shirt', 'hat'],
    'price': [20, 30, 50, 25, 15]
})
print("\nOriginal DataFrame:")
print(df_example)

item_category = {
    'shirt': 'clothing',
    'pants': 'clothing',
    'shoes': 'footwear',
    'hat': 'accessory'
}

df_example['category'] = df_example['item'].map(item_category)
print("\nDataFrame with new 'category' column mapped from 'item':")
print(df_example)

Original Series:
0     apple
1    orange
2     apple
3     grape
4    banana
5    orange
dtype: object

Series after mapping with a dictionary:
0       red
1    orange
2       red
3    purple
4    yellow
5    orange
dtype: object

Original DataFrame:
    item  price
0  shirt     20
1  pants     30
2  shoes     50
3  shirt     25
4    hat     15

DataFrame with new 'category' column mapped from 'item':
    item  price   category
0  shirt     20   clothing
1  pants     30   clothing
2  shoes     50   footwear
3  shirt     25   clothing
4    hat     15  accessory

### Replacing values

In [18]:
import pandas as pd
import numpy as np

# Sample Series
s = pd.Series([1, 2, 3, 2, 4, 1, 5, np.nan])
print("Original Series:\n", s)

# 1. Replace a single value with another single value
print("\nSeries after replacing 2 with 10:\n", s.replace(2, 10))

# 2. Replace multiple values with a single value (using a list)
print("\nSeries after replacing [1, 5] with 99:\n", s.replace([1, 5], 99))

# 3. Replace multiple values with multiple different values (using a list of lists or two lists)
print("\nSeries after replacing 1 with 100 and 2 with 200:\n", s.replace([1, 2], [100, 200]))

# 4. Replace using a dictionary
print("\nSeries after replacing using a dictionary {1: 'One', 3: 'Three'}:\n", s.replace({1: 'One', 3: 'Three'}))

# Sample DataFrame
df_replace = pd.DataFrame({
    'A': ['apple', 'banana', 'cherry', 'apple', 'date'],
    'B': [1, 2, 3, 1, 5],
    'C': ['red', 'yellow', 'red', 'green', 'blue']
})
print("\nOriginal DataFrame:\n", df_replace)

# 5. Replace values in a specific column
print("\nDataFrame after replacing 'apple' with 'orange' in column 'A':\n", df_replace['A'].replace('apple', 'orange'))

# 6. Replace multiple values in a specific column
print("\nDataFrame after replacing 'red' with 'scarlet' and 'yellow' with 'gold' in column 'C':\n",
      df_replace['C'].replace({'red': 'scarlet', 'yellow': 'gold'}))

# 7. Replace values across entire DataFrame
print("\nDataFrame after replacing all occurrences of 'apple' with 'grape':\n", df_replace.replace('apple', 'grape'))

# 8. Replace values across entire DataFrame using a dictionary for specific column replacements
print("\nDataFrame after replacing 'apple' in 'A' with 'new_apple' and 1 in 'B' with 10:\n",
      df_replace.replace({'A': {'apple': 'new_apple'}, 'B': {1: 10}}))

Original Series:
 0    1.0
1    2.0
2    3.0
3    2.0
4    4.0
5    1.0
6    5.0
7    NaN
dtype: float64

Series after replacing 2 with 10:
 0     1.0
1    10.0
2     3.0
3    10.0
4     4.0
5     1.0
6     5.0
7     NaN
dtype: float64

Series after replacing [1, 5] with 99:
 0    99.0
1     2.0
2     3.0
3     2.0
4     4.0
5    99.0
6    99.0
7     NaN
dtype: float64

Series after replacing 1 with 100 and 2 with 200:
 0    100.0
1    200.0
2      3.0
3    200.0
4      4.0
5    100.0
6      5.0
7      NaN
dtype: float64

Series after replacing using a dictionary {1: 'One', 3: 'Three'}:
 0      One
1      2.0
2    Three
3      2.0
4      4.0
5      One
6      5.0
7      NaN
dtype: object

Original DataFrame:
         A  B       C
0   apple  1     red
1  banana  2  yellow
2  cherry  3     red
3   apple  1   green
4    date  5    blue

DataFrame after replacing 'apple' with 'orange' in column 'A':
 0    orange
1    banana
2    cherry
3    orange
4      date
Name: A, dtype: object

DataFrame after replacing 'red' with 'scarlet' and 'yellow' with 'gold' in column 'C':
 0    scarlet
1       gold
2    scarlet
3      green
4       blue
Name: C, dtype: object

DataFrame after replacing all occurrences of 'apple' with 'grape':
         A  B       C
0   grape  1     red
1  banana  2  yellow
2  cherry  3     red
3   grape  1   green
4    date  5    blue

DataFrame after replacing 'apple' in 'A' with 'new_apple' and 1 in 'B' with 10:
            A   B       C
0  new_apple  10     red
1     banana   2  yellow
2     cherry   3     red
3  new_apple  10   green
4       date   5    blue